upstream users_php_fpm_upstream {
    server unix:/var/run/php5-fpm.sock;
}
server {
    charset utf-8;
    client_max_body_size 128M;

    listen 80; ## listen for ipv4

    server_name users.local;
    root        /var/www/web;
    index       index.php;

    access_log  /var/log/nginx/users.access.log;
    error_log   /var/log/nginx/users.error.log;

    location / {
        # Redirect everything that isn't a real file to index.php
        try_files $uri $uri/ /index.php?$args;
    }

    # uncomment to avoid processing of calls to non-existing static files by Yii
    #location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
    #    try_files $uri =404;
    #}
    #error_page 404 /404.html;

    location ~ \.php$ {
        fastcgi_pass users_php_fpm_upstream;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        include fastcgi_params;
        try_files $uri =404;
    }

   location = /favicon.ico {
           log_not_found off;
           access_log off;
   }

   location = /robots.txt {
       allow all;
       log_not_found off;
       access_log off;
   }

   location ~ /\.ht {
       deny  all;
   }
}

